script#map_entry_info_window_template(type="text/underscore-template")
    div(style="width:180px; height: 80px;")
      form(action="/jobs" method="POST")
          div
              input(type="hidden" name="state_parcel_id" value!="<%= state_parcel_id %>")
              input(type="hidden" name="parcel_id" value!="<%= parcel_id %>")
              input(type="hidden" name="latitude" value!="<%= location_1.latitude %>")
              input(type="hidden" name="longitude" value!="<%= location_1.longitude %>")
          div
              input(type="text" placeholder="Your Name")
          div
              input(type="text" placeholder="What did you do?")
          div
              button(type="button" value="Save") Save
